body {
  /* background-image: url("images/judiciary-background.jpg"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.darkShade {
    background-color: rgba(19, 18, 18, 0.7);
}
.jms-img-fluid{
  width: 100%;
  height: 15rem;
}

/* Court & Court Rules */
.jms-h{
  height: 40rem;
}
.jms-text-justify{
  text-align: justify;
}

/* Sign Up Form */
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

